<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona startowa</title>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <span class="navbar-brand">BEST ROUTE</span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/favorite}">Favorite</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/creator}">Creator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/destroyer}">Destroyer</a>
        </li>
    </ul>
</nav>
<h1>Filters</h1>
<form th:action="@{/}" method="get" class="row g-3">
    <div class="col-md-4">
        <label for="1" class="form-label">Lotnisko początkowe</label><br>
        <input name="start_airport" type="search" placeholder="Type name here..." id="1" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="2" class="form-label">Lotnisko docelowe</label><br>
        <input name="end_airport" type="search" placeholder="Type name here..." id="2" class="form-control">
    </div>
    <div class="col-md-4">
        <label for="5" class="form-label">Wybierz komfort</label><br>
        <select name="comfort" id="5" class="form-select">
            <option value="">dowolnie</option>
            <option th:each="comfort : ${T(pl.akademiakodu.bestroute.model.Comfort).values()}"
                    th:value="${comfort}" th:text="${comfort.name}"></option>
        </select>
    </div>
    <div class="col-md-6" >
        <label for="3" class="form-label">Szukaj od</label><br>
        <input name="from_date" type="datetime-local" id="3" class="form-select">
    </div>
    <div class="col-md-6">
        <label for="4" class="form-label">Szukaj do</label><br>
        <input name="to_date" type="datetime-local" id="4" class="form-select">
    </div>
    <div class="col-12">
        <input type="submit" value="Search" class="btn btn-primary">
    </div>
</form>
<hr>
<h1>Result</h1>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th>Start airport</th>
                <th>End airport</th>
                <th>Plane</th>
                <th>Departure date</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="route : ${routeList}">
                <td th:text="${route.id}"></td>
                <td th:text="${route.startAirport.name}"></td>
                <td th:text="${route.destinationAirport.name}"></td>
                <td th:text="${route.plane.name}"></td>
                <td th:text="${route.getDepartureDateFormat('f')}"></td>
                <td>
                    <a th:href="${route.getDetailsUrl()}"><button class="btn btn-primary">Detail</button></a>
                    <a th:href="@{'/favorite/change/' + ${route.id} + '?path=h'}"><button th:style="${routeService.isFavorite(route.getId())} ? 'background-color: red;' : ''" class="btn btn-primary"><p style="margin-bottom: 0rem;" th:text="${routeService.isFavorite(route.getId())} ? 'Delete from favorite' : 'Add to favorite'" /></button></a>
                    <a th:href="@{'/route/editor/' + ${route.id}}"><button class="btn btn-primary">Edit!</button></a>
                </td>
            </tr>
        </tbody>
    </table>
<button value="dsfsdfds"></button>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</html>